<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Foundation GEEK</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

    <link rel="stylesheet" href="{{ ASSET_PATH }}/bootstrap/css/foundation.css" />
  <link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/bootstrap/css/custom.css" />
  <link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/style.css" />
  <link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">  

  <script src="{{ ASSET_PATH }}/bootstrap/js/vendor/custom.modernizr.js"></script>

<script type="text/javascript">
//<![CDATA[
  (function() {
    var shr = document.createElement('script');
    shr.setAttribute('data-cfasync', 'false');
    shr.src = '//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js';
    shr.type = 'text/javascript'; shr.async = 'true';
    shr.onload = shr.onreadystatechange = function() {
      var rs = this.readyState;
      if (rs && rs != 'complete' && rs != 'loaded') return;
      var apikey = 'd9e5ca4642a37f591e699b26390ddd48'
      try { Shareaholic.init(apikey); } catch (e) {}
    };
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(shr, s);
  })();
//]]>
</script>

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body>
    <div class="row">

 
    <!-- Navigation -->
      <nav  id="menu" class="nav">  
  <ul>
    <li>
      <a  href="#" title="" class="active">
        <span  class="icon"> <i aria-hidden="true"  class="icon-home"></i></span><span>Home</span>
      </a>
    </li>
    <li>    
      <a href="#" title=""><span class="icon"> <i aria-hidden="true" class="icon-tag-fill"></i></span><span>Tags</span></a> 
    </li> 
    <li>
      <a  href="#" title=""><span  class="icon"><i  aria-hidden="true" class="icon-css3"></i></span><span>CSS3 Hacks</span></a>
    </li>
    <li>
      <a  href="#" title=""><span  class="icon"><i  aria-hidden="true" class="icon-monitor"></i></span><span>Themes</span></a> 
    </li>
    <li>
      <a  href="#" title=""><span  class="icon"><i  aria-hidden="true" class="icon-grid"></i></span><span>Logos</span></a>  
    </li>
    <li>
      <a  href="test.html" title=""><span  class="icon"><i  aria-hidden="true" class="icon-info"></i></span><span>About</span></a>
    </li>
  </ul>
</nav>
</div> 
    <!-- End Navigation -->
<div class="row">
  <nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->


    <ul class="left">
      <li class="divider"></li>
      <li class="has-dropdown"><a href="#">Foundation GEEK </a>

        <ul class="dropdown inset"  id="menu_drop">
        <br />
        <li><h4><strong><span id="welcome">Welcome!</span></strong></h4></li>
        <li class="divider"></li>
        <li>
        <p>Foundation GEEK is an element gallery for web designers and web developers, anybody who is using  Foundation will find this website essential in their craft.
Currently Foundation GEEK is using Foundation Framework v 4.3.0</p>
        </li>
        </ul>
      </li>    
      <li class="divider"></li>
    </ul>


    <!-- Right Nav Section -->
    
    <ul class="right">
    <li>
    <a href=""><i class="icon-equalizer-5 fs1"></i></a>
    </li>
    </ul>
  </section>
</nav>
</div>
  <!-- End Header and Nav -->

<!-- Banner -->
<div class="row">
<div class="jumbotron masthead gradient">
  <div class="container">
    <h1> Foundation GEEK</h1>
    <p> Design elements and code snippets for <a href="http://foundation.zurb.com/" target="_blank"> Foundation</a> HTML/CSS/JS framework </p>
  </div>
</div> 
</div>
<br />
<!-- End of Banner -->
  <div>
  <div class="row">
<div class="large-12 columns my_container">
  <div class="align_div">
  <div class="row">
  <div class="has-form sb-search" id="sb-search">
  <form>
      <input class="sb-search-input" list="options" placeholder="eg. sign up form..." type="text" value="" name="search" id="search">
      <datalist id="options">
        <option>Navbar</option>
        <option>Headers</option>
        <option>Sign Up Form</option>
      </datalist>
      <input class="sb-search-submit" type="submit" value="">
      <span class="sb-icon-search"></span>
  </form>
</div>
</div>
<br />
<br />


    {{ content }}
</div>
  </div>
    </div>
</div>
  
      <hr>
      <!-- Footer -->

<div id="newsletter">
    <div class="row">
      <div class="small-4 large-8 columns">
        <h5>Stay on top of what's happening on <a href="http://foundationGeek.com">Foundation GEEK</a> with <a href="http://foundation.zurb.com/">Foundation</a>.</h5>
        <p>Subscribe to our monthly mailing list to receive latest updates from <a href="http://foundationGeek.com">Foundation GEEK</a>.</p>
      </div>

      <div class="small-4 large-4 columns">
        <div class="row collapse">
          <!--###################################################################################################################################################################################################################################################################################################################################################################################################-->
                      <!-- Begin MailChimp Signup Form -->
          <div>
          <form action="http://facebook.us7.list-manage1.com/subscribe/post?u=b09c8d2070c2bb605ba986713&amp;id=2402fd0ecd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              
              <input type="text" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <div class="clear"><input type="submit" value="Subscribe Newsletter" name="subscribe" id="mc-embedded-subscribe" class="postfix small button expand"></div>
          </form>
          </div>

                        <!--End mc_embed_signup-->          
        
          <!--##################################################################################################################################################################################################################################################################################################################################################################################################-->
        </div>
      </div>
    </div>
  </div>

<div class="zurb-footer-bottom">
  <div class="row">
    <div class="small-8 large-8 columns">
        <a href="http://foundationGeek.com" class=".inset" id="welcome">Foundation GEEK</a>
        <ul class="zurb-links">
          <li><a href="http://foundationGeek.com/about">About</a></li>
          <li><a href="http://foundationGeek.com/tags">Tags</a></li>
          <li><a href="http://foundationGeek.com/css3hacks">CSS-3 Hacks</a></li>
          <li><a href="http://foundationGeek.com/themes">Themes</a></li>
          <li><a href="http://foundationGeek.com/logos">Logos</a></li>
       </ul>
       <p class="copyright">2013 Foundation GEEK was crafted by <a href="http://in.linkedin.com/in/devdipesh/">Dipesh Bhardwaj</a>.</p>
    </div>
    <div class="small-4 large-4 columns">
      <ul class="home-social">
          <li><a href="http://www.twitter.com/FoundationGEEK" class="twitter"></a></li>
          <li><a href="https://www.facebook.com/FoundationGEEK" class="facebook"></a></li>
          <li><a href="http://foundationGeek.com/contact" class="mail"></a></li>
        </ul>
     </div>
               
  </div>
</div>

  <!-- End Footer -->

    <script>
  document.write('<script src=' +
  ('__proto__' in {} ? '{{ ASSET_PATH }}/bootstrap/js/vendor/zepto' : '{{ ASSET_PATH }}/bootstrap/js/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="{{ ASSET_PATH }}/bootstrap/js/foundation.min.js"></script>
  <!--
  
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.cookie.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.joyride.js"></script>
  
  <script src="js/foundation/foundation.magellan.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>
  
  <script src="js/foundation/foundation.reveal.js"></script>
  
  <script src="js/foundation/foundation.section.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.topbar.js"></script>
  
  <script src="js/foundation/foundation.interchange.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  <script src="js/foundation/foundation.abide.js"></script>
  
  -->
  <script>
      //  The function to change the class
      var changeClass = function (r,className1,className2) {
        var regex = new RegExp("(?:^|\\s+)" + className1 + "(?:\\s+|$)");
        if( regex.test(r.className) ) {
          r.className = r.className.replace(regex,' '+className2+' ');
          }
          else{
          r.className = r.className.replace(new RegExp("(?:^|\\s+)" + className2 + "(?:\\s+|$)"),' '+className1+' ');
          }
          return r.className;
      };  

      //  Creating our button in JS for smaller screens
      var menuElements = document.getElementById('menu');
      menuElements.insertAdjacentHTML('afterBegin','<button type="button" id="menutoggle" class="navtoogle" aria-hidden="true"><i aria-hidden="true" class="icon-menu"> </i> Menu</button>');

      //  Toggle the class on click to show / hide the menu
      document.getElementById('menutoggle').onclick = function() {
        changeClass(this, 'navtoogle active', 'navtoogle');
      }
    </script>

  <script src="{{ ASSET_PATH }}/bootstrap/js/classie.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/uisearch.js"></script>
    <script>
      new UISearch( document.getElementById( 'sb-search' ) );
    </script>
  <script>
    $(document).foundation();
  </script>

      <script src="{{ ASSET_PATH }}/bootstrap/js/src-min/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/twilight");
        editor.getSession().setMode("ace/mode/html");
        editor.setReadOnly(true);
        editor.setHighlightActiveLine(true);
        editor.setShowPrintMargin(true);
        editor.getSession().setUseSoftTabs(true);
    </script>

<script>
  $("#activate").click(function(){
      editor.setReadOnly(false);
      editor.setTheme("ace/theme/twilight");
       editor.on('change', function() {
         //var edit_data = editor.getValue();
         //document.getElementById("preview").innerHTML = edit_data; 
         $('#preview').html(editor.getValue());
       });

      });
      return true;
</script>

<script>
  var editor = ace.edit("editor");
  $("#copy").click(function(){
          if($('.prettyprint').is(':visible')) {
                SelectText('copybody');
          } else  {
            editor.focus();
            editor.selectAll(editor);
      }
        });
</script>


    {% include JB/analytics %}
  </body>
</html>
